# Import Library

In [19]:
import pandas as pd
import kagglehub

Ideas

Impact of Macroeconomic Factors

	•	Objective: Assess how macroeconomic factors impact the S&P 500.
	•	Data: S&P 500 data along with macroeconomic indicators like unemployment rates, inflation, interest rates, and GDP growth.
	•	Analysis Ideas:
	•	Perform regression analysis to measure the relationship between the S&P 500 index and macroeconomic factors.
	•	Use factor analysis to understand which economic indicators are most correlated with changes in the index.
	•	Explore the impact of Federal Reserve policy changes (interest rate hikes or cuts) on the market’s performance.

# Import Data

In [20]:
companies = kagglehub.dataset_download("andrewmvd/sp-500-stocks",path="sp500_companies.csv")
index_ = kagglehub.dataset_download("andrewmvd/sp-500-stocks",path="sp500_index.csv")
stocks = kagglehub.dataset_download("andrewmvd/sp-500-stocks",path="sp500_stocks.csv")

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)

In [21]:
companies = pd.read_csv(companies)
companies

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,235.00,3572963475456,1.317810e+11,0.049,Cupertino,CA,United States,161000.0,"Apple Inc. designs, manufactures, and markets ...",0.065440
1,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,138.00,3385139920896,6.118400e+10,1.224,Santa Clara,CA,United States,29600.0,NVIDIA Corporation provides graphics and compu...,0.062000
2,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,418.16,3108199989248,1.294330e+11,0.152,Redmond,WA,United States,228000.0,Microsoft Corporation develops and supports so...,0.056928
3,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,165.05,2021103239168,1.154780e+11,0.136,Mountain View,CA,United States,179582.0,Alphabet Inc. offers various products and plat...,0.037017
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,163.42,2020557586432,1.154780e+11,0.136,Mountain View,CA,United States,179582.0,Alphabet Inc. offers various products and plat...,0.037007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,NYQ,MOS,Mosaic Company (The),The Mosaic Company,Basic Materials,Agricultural Inputs,26.26,8367434240,1.936600e+09,-0.170,Tampa,FL,United States,14049.0,"The Mosaic Company, through its subsidiaries, ...",0.000153
499,NYQ,BWA,BorgWarner Inc.,BorgWarner Inc.,Consumer Cyclical,Auto Parts,35.20,8017468928,1.871000e+09,-0.019,Auburn Hills,MI,United States,39900.0,"BorgWarner Inc., together with its subsidiarie...",0.000147
500,NYQ,FMC,FMC Corporation,FMC Corporation,Basic Materials,Agricultural Inputs,62.69,7825216512,6.765000e+08,0.024,Philadelphia,PA,United States,5800.0,"FMC Corporation, an agricultural sciences comp...",0.000143
501,NMS,PARA,Paramount Global,Paramount Global,Communication Services,Entertainment,10.45,7444798976,2.979000e+09,-0.105,New York,NY,United States,21900.0,"Paramount Global operates as a media, streamin...",0.000136
502,NYQ,AMTM,"Amentum Holdings, Inc.","Amentum Holdings, Inc.",Industrials,Specialty Business Services,29.30,7128748544,4.330000e+08,-0.031,Chantilly,VA,United States,NaN,"Amentum Holdings, Inc. provides engineering an...",0.000131

In [22]:
index_ = pd.read_csv(index_)
index_

            Date   S&P500
0     2014-09-30  1972.29
1     2014-10-01  1946.16
2     2014-10-02  1946.17
3     2014-10-03  1967.90
4     2014-10-06  1964.82
...          ...      ...
2526  2024-10-14  5859.85
2527  2024-10-15  5815.26
2528  2024-10-16  5842.47
2529  2024-10-17  5841.47
2530  2024-10-18  5864.67

[2531 rows x 2 columns]

In [23]:
stocks = pd.read_csv(stocks)
stocks

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,44.016731,69.414719,69.774246,69.122070,69.473244,3640265.0
1,2010-01-05,MMM,43.741020,68.979935,69.590302,68.311035,69.230766,3405012.0
2,2010-01-06,MMM,44.361351,69.958191,70.735786,69.824417,70.133781,6301126.0
3,2010-01-07,MMM,44.393177,70.008362,70.033447,68.662209,69.665550,5346240.0
4,2010-01-08,MMM,44.705978,70.501671,70.501671,69.648827,69.974915,4073337.0
...,...,...,...,...,...,...,...,...
1873167,2024-10-14,ZTS,192.649994,192.649994,193.039993,189.789993,190.160004,1616400.0
1873168,2024-10-15,ZTS,192.389999,192.389999,195.820007,191.940002,192.279999,1414600.0
1873169,2024-10-16,ZTS,194.440002,194.440002,195.880005,191.759995,192.000000,1591500.0
1873170,2024-10-17,ZTS,191.000000,191.000000,196.550003,190.889999,195.710007,1701200.0
1873171,2024-10-18,ZTS,193.279999,193.279999,193.485001,190.580002,191.160004,1242013.0

# Do it have any NULL ?

In [24]:
companies.isnull().any()

Exchange               False
Symbol                 False
Shortname              False
Longname               False
Sector                 False
Industry               False
Currentprice           False
Marketcap              False
Ebitda                  True
Revenuegrowth           True
City                   False
State                   True
Country                False
Fulltimeemployees       True
Longbusinesssummary    False
Weight                 False
dtype: bool

In [25]:
index_.isnull().any()

Date      False
S&P500    False
dtype: bool

In [26]:
stocks.isnull().any()

Date         False
Symbol       False
Adj Close     True
Close         True
High          True
Low           True
Open          True
Volume        True
dtype: bool

In [27]:
stocks.groupby(by="Symbol")["Symbol"].count()

Symbol
A       3724
AAPL    3724
ABBV    3724
ABNB    3724
ABT     3724
        ...
XYL     3724
YUM     3724
ZBH     3724
ZBRA    3724
ZTS     3724
Name: Symbol, Length: 503, dtype: int64

In [29]:
companies.groupby(by="Symbol")["Symbol"].count()

Symbol
A       1
AAPL    1
ABBV    1
ABNB    1
ABT     1
       ..
XYL     1
YUM     1
ZBH     1
ZBRA    1
ZTS     1
Name: Symbol, Length: 503, dtype: int64

In [30]:
companies.groupby(by="Sector")["Sector"].count()

Sector
Basic Materials           22
Communication Services    22
Consumer Cyclical         55
Consumer Defensive        37
Energy                    22
Financial Services        67
Healthcare                63
Industrials               70
Real Estate               31
Technology                82
Utilities                 32
Name: Sector, dtype: int64