In [1]:
import pandas as pd

In [27]:
keyindi = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_KeyIndicators",index_col="Date")
keyindi.drop("Unnamed: 0",axis=1,inplace=True)
keyindi.head()

,Cumulative,Cumulative Test positive,Cumulative tests performed,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
Date,,,,,,,,,,
2020-03-11 00:00:00,48,2,80,0,0,NaN,3,ICT,2,8
2020-03-11 00:00:00,61,0,95,0,0,NaN,6,Punjab,0,7
2020-03-11 00:00:00,84,14,171,1,0,NaN,1,Sindh,13,55
2020-03-11 00:00:00,20,0,28,0,0,NaN,0,KP,0,2
2020-03-11 00:00:00,3,0,0,0,0,NaN,0,KPTD,0,0

In [28]:
keyindi_d = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_KeyIndicators_Detail",index_col="Date")
keyindi_d.head()

,Province Old,Suspected Cases Last Date,Suspected Cases Last 24 Hrs,Suspected Cases Cumulative,Lab Tests Last 24 Hrs,Lab Tests Cumulative,Confirmed Cases Last Date,Confirmed Cases Last 24 Hrs,Confirmed Cases Cumulative,Deaths Last Date,...,Confirmed HW - Active Others,Confirmed HW - Active Total,Confirmed HW - Active Isolation,Confirmed HW - Active Hospital,Confirmed HW - Active Hospital Stable,Confirmed HW - Active Hospital Ventilator,Confirmed HW - Active Recovered,Confirmed HW - Active Deaths,Unnamed: 53,Unnamed: 54
Date,,,,,,,,,,,,,,,,,,,,,
2020-04-04,AJK,322,21,343,21,343,9,2,11,0,...,0,0,0,0,0,0,0,0,NaN,NaN
2020-04-04,Balochistan,2171,230,2401,0,2401,169,6,175,1,...,0,0,0,0,0,0,0,0,NaN,NaN
2020-04-04,GB,961,2,963,844,860,190,3,193,3,...,0,0,0,0,0,0,0,0,NaN,NaN
2020-04-04,ICT,2395,174,2569,174,2569,68,7,75,0,...,0,0,0,0,0,0,0,0,NaN,NaN
2020-04-04,KP,1938,431,2369,181,1624,311,32,343,9,...,0,0,0,0,0,0,0,0,NaN,NaN

In [29]:
action_s = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_Action_Screen",index_col="Date")
action_s.head()

,Cumulative travelers Screened,Suspected at Points of Entry,Travelers Screened at Points ofEntry in last 24 hours
Date,,,
11-Mar-2020,873288,26,21102
12-Mar-2020,894256,29,20968
13-Mar-2020,913542,33,19286
14-Mar-2020,933970,43,20428
15-Mar-2020,954646,59,20676

In [30]:
action_c = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_Action_Call",index_col="Date")
action_c.head()

,Returnees,Advised Self-Quarantine,Cumulative no offirst-time calls,Cumulativefollow-up calls,First-time calls inpast 24 hrs,Follow-up calls inpast 24 hrs
Date,,,,,,
11-Mar-2020,Returnees from Iran,0,9459,2553,0,353
11-Mar-2020,Returnees from China,11,5342,7746,17,400
12-Mar-2020,Returnees from Iran,14,9475,3221,16,668
12-Mar-2020,Returnees from China,7,5352,7855,10,109
13-Mar-2020,Returnees from Iran,0,9475,3853,0,632

In [18]:
news = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_COVID_News",index_col="Date")
news.drop("Unnamed: 0",axis=1,inplace=True)
news

,News,Agg News
Date,,
11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 •",Updates: Pakistan: \n Three new cases have bee...
...,...,...
2020-04-03 00:00:00,"2,450. Two deaths reported from Sindh. One dea...","Updates: Pakistan: \n During last 24 hours, 15..."
2020-04-03 00:00:00,deaths 35. •,"Updates: Pakistan: \n During last 24 hours, 15..."
2020-04-03 00:00:00,Global:,"Updates: Pakistan: \n During last 24 hours, 15..."
2020-04-03 00:00:00,"Total cases:1,015,709 Total Deaths: 53,069 •","Updates: Pakistan: \n During last 24 hours, 15..."
2020-04-03 00:00:00,Total number of countries/regions affected: 181 •,"Updates: Pakistan: \n During last 24 hours, 15..."

In [31]:
nih_res = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_NIH_Response",index_col="Date")
nih_res.drop("Unnamed: 0",axis=1,inplace=True)
nih_res.head()

,NIH Preparedness and Response,Agg NIH Preparedness and Response
Date,,
11-Mar-2020,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
11-Mar-2020,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
11-Mar-2020,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
11-Mar-2020,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
12-Mar-2020,BSL-3 mobile lab is ready for testing. •,BSL-3 mobile lab is ready for testing. • \n I...

In [32]:
nih_ris = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_NIH_Risk",index_col="Date")
nih_ris.drop("Unnamed: 0",axis=1,inplace=True)
nih_ris.head()

            Risk Assessment NIH
Date
11-Mar-2020           MODERATE.
12-Mar-2020           MODERATE.
13-Mar-2020           MODERATE.
14-Mar-2020           MODERATE.
15-Mar-2020            Moderate

In [33]:
prov_res = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_Province_Response",index_col="Date")
prov_res.drop("Unnamed: 0",axis=1,inplace=True)
prov_res.head()

,region,Provinces Preparedness and Response,Agg Provinces Preparedness and Response
Date,,,
11-Mar-2020,Balochistan,316 newly arrived individuals screened and qua...,316 newly arrived individuals screened and qua...
11-Mar-2020,Balochistan,14 Chinese nationals quarantined at East Bay E...,316 newly arrived individuals screened and qua...
11-Mar-2020,Sindh,Staff deployed to designated quarantine facili...,Staff deployed to designated quarantine facili...
11-Mar-2020,Sindh,Training and orientation sessions for the heal...,Staff deployed to designated quarantine facili...
11-Mar-2020,KP & TD,24 High Dependency Units established across KP...,24 High Dependency Units established across KP...

In [34]:
help_l = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_Helpline_Calls",index_col="Date")
help_l.drop("Unnamed: 0",axis=1,inplace=True)
help_l.head()

            Cumulative Calls  New Calls
Date
2020-03-11             12481        547
2020-03-12             13167        686
2020-03-13             13896        729
2020-03-14             15340       1444
2020-03-15             19131       3791

In [35]:
quarant_d = pd.read_excel("COVID_FINAL_DATA.xlsx", sheet_name="TimeSeries_Quarantine_Details",index_col="Date")
quarant_d.drop("Unnamed: 0",axis=1,inplace=True)
quarant_d.head()

,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present
Date,,,,
2020-04-01,ICT,1,0,24
2020-04-01,Punjab,4,0,2956
2020-04-01,Sindh,5,0,1388
2020-04-01,KP,92,181,3260
2020-04-01,Balochistan,9,0,366